.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.buttons {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row-reverse;
    font-size: 25px;
}

.button {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15%;
    flex-grow: 1;
}

.evalButton {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15%;
}

.display {
    font-size: 30px;
    padding: 10px;
    border: 1px solid black;
}