body {
    background-color: whitesmoke;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    width: 350px;
    background-color: rgba(201, 197, 223, 0.269);
}

.row {
    display: flex;
    flex-direction: row-reverse;
    font-size: 25px;
}

.button {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15%;
    flex-grow: 1;
    background-color: rgb(234, 226, 217);
}

.buttonOperation {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15%;
    background-color: rgb(234, 226, 217);
}

.buttonequal {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15%;
    background-color: rgb(234, 226, 217);
}

.display {
    font-size: 30px;
    padding: 10px;
    border: 1px solid black;
    width: 350px;
    background-color: white;
}